* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.loadingScreen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}
/* positioning the loading label in the center  */
.middle {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* for each bar  */
.bar {
  width: 15px;
  height: 100px;
  background: #fff;
  display: inline-block;
  background-color: transparent;
  margin-right: 5px;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.7s linear infinite;
}
/* delaying animation so that they look as they are  */
.bar1 {
  animation-delay: 0.2s;
}
.bar2 {
  animation-delay: 0.4s;
}
.bar3 {
  animation-delay: 0.6s;
}
.bar4 {
  animation-delay: 0.8s;
}
.bar5 {
  animation-delay: 1s;
}
.bar6 {
  animation-delay: 1.2s;
}
.bar7 {
  animation-delay: 1.4s;
}
.bar8 {
  animation-delay: 1.6s;
}
.bar9 {
  animation-delay: 1.8s;
}
.bar10 {
  animation-delay: 2s;
}
.bar11 {
  animation-delay: 2.2s;
}
.bar12 {
  animation-delay: 2.3s;
}
.bar13 {
  animation-delay: 2.6s;
}
.bar14 {
  animation-delay: 2.8s;
}
/* defining keyframes  */
@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: transparent;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
.loadingText {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-family: monospace;
}
.homeScreen {
  display: none;
}
