body {
  font-family: monospace;
  overflow: hidden;
}

#plane {
  width: 22%;
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: 80;
}

#sun {
  /* max-width: 400px;
  min-width: 200px;
  max-height: 300px;
  min-height: 150px; */
  /* background-color: black; */
  width: 0.5%;
  position: absolute;
  left: 100vw;
  top: -10vh;
  z-index: -1;
}

#runway {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

#runway img {
  object-fit: cover;
  width: 120%;
}

#plane img {
  transform: rotate(-21deg);
  object-fit: cover;
  width: 100%;
}

#clouds {
  width: 0.5%;
  /* max-width: 400px;
  min-width: 200px;
  max-height: 300px;
  min-height: 150px; */

  /* background-color: bisque; */
  position: absolute;
  left: 110vw;
  top: 20vh;
}

#clouds_ground {
  /* width: 100vw;
  height: 200px; */
  width: 0.5%;
  /* background-color: lightblue; */
  position: absolute;
  bottom: 0;
  left: 100vw;
}

#turbulence_ground {
  /* width: 100vw;
  height: 200px; */
  width: 0.5%;
  /* background-color: lightslategrey; */
  position: absolute;
  bottom: 0;
  left: 200vw;
  z-index: 91;
}

.ground_clouds {
  /* width: 100vw;
  height: 200px; */
  width: 0.5%;
  /* background-color: lightslategrey; */
  position: absolute;
  bottom: 0;
  left: 200vw;
}

.sky_clouds {
  width: 0.5%;
  /* background-color: lightslategrey; */
  position: absolute;
  top: 0;
  left: 200vw;
}

#turbulenceClouds {
  /* width: 100vw;
  height: 200px; */
  width: 0.5%;
  /* background-color: lightslategrey; */
  position: absolute;
  top: 0;
  left: 200vw;
  z-index: 90;
}

#water {
  width: 100vw;
  height: 200px;
  background-color: skyblue;
  position: absolute;
  bottom: 0;
  left: 300vw;
}

#takeOffBtn {
  width: 150px;
  border: 0;
  background-color: black;
  border: 3px solid white;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  margin: 0 auto;
  font-family: monospace;
  filter: drop-shadow(1px 1px 8px rgb(182, 182, 182));
}

#takeOffBtn:hover {
  background-color: white;
  border-color: white;
  text-decoration: none;
  color: black;
}

.takeoffclass {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(5px);
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#welcomeMessage {
  position: absolute;
  margin: 90px;
  left: 20vw;
  font-size: large;
  color: black;
  top: 13vh;
}

#soundControl {
  position: absolute;
  top: 15px;
  left: 15px;
}

#play {
  display: none;
}

/*  shake */
.shake {
  animation: shake 0.7s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* for click effect */
.clickeffect {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #ffffff59;
}
.lightning1 {
  position: absolute;
  z-index: 1000;
  height: 216px;
  width: 200px;
  background: url(../pics/l1.gif);
}
.lightning2 {
  position: absolute;
  z-index: 1000;
  height: 400px;
  min-width: 400px;
  background: url(../pics/l2.png);
  background-size: contain;
}

@keyframes clickeffectanim {
  to {
    transform: scale(15);
    opacity: 0.01;
  }
}
.blackScreen {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1200;
  color: white;
  text-align: center;
  display: none;
}
.blackScreen p {
  font-size: 24px;
  margin-top: 45vh;
}
