#plane{
  max-width: 300px;
  min-width: 150px;
  max-height: 200px;
  min-height: 100px;
  background-color: aquamarine;
  position: absolute;
  bottom: 200px;
}

#runway{
  width: 100vw;
  height: 200px;
  background-color: grey;
  position: absolute;
  bottom: 0;
}

#clouds{
  max-width: 400px;
  min-width: 200px;
  max-height: 300px;
  min-height: 150px;
  background-color: bisque;
  position: absolute;
  left: 110vw;
  top: 20vh;
}

#clouds_ground{
  width: 100vw;
  height: 200px;
  background-color: lightblue;
  position: absolute;
  bottom: 0;
  left: 100vw;
}

#turbulence_ground{
  width: 100vw;
  height: 200px;
  background-color: lightslategrey;
  position: absolute;
  bottom: 0;
  left: 200vw;
}

#water{
  width: 100vw;
  height: 200px;
  background-color: skyblue;
  position: absolute;
  bottom: 0;
  left: 300vw;
}